@import "../../sass/colors";
@import "../../sass/mixins";

.projects {
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding-top: 5rem;
}

.tittle {
  @include tittle;
}

.containerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 30rem;
  width: 90%;

  img {
    width: 20rem;
    border-radius: 1rem;
  }
}

.cardItem {
  width: 40%;

  h1 {
    text-transform: uppercase;
    font-weight: bold;
  }

  p {
    font-size: 20px;
  }
}

.subline {
  @include subline;
}

.btn {
  box-shadow: inset 0 0 0 0 $subtittle-color;
  padding: 0.5rem 1rem;
  transition: box-shadow 1.5s ease;
  background-color: transparent;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border: 2px solid white;

  &:hover {
    color: white;
    box-shadow: inset 200px 0 0 0 $subtittle-color;
    background-color: transparent;
  }
}

@media screen and (max-width: 750px) {
  .projects {
    padding-top: 3rem;
  }
  .card {
    justify-content: start;
    height: 80vh;
    margin-top: 0;

    div {
      width: 100%;
      p {
        font-size: 15px;
      }
    }
    div:not(.cardItem) {
      display: flex;
      justify-content: center;
      img {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .projects {
    padding-top: 3rem;
  }
  .card {
    flex-direction: column-reverse;
    justify-content: start;
    height: 80vh;
    margin-top: 4rem;

    div {
      width: 100%;
    }
    div:not(.cardItem) {
      display: flex;
      justify-content: center;
      img {
        width: 60%;
      }
    }
  }
}
