@import "../../sass/colors";
@import "../../sass/mixins";

.about {
  display: flex;
  overflow-x: hidden;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
  color: $tittle-color;
  overflow: hidden;
  height: 100vh;
}

.tittle {
  @include tittle;
}

.subline {
  @include subline;
}

.paragraph {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  justify-content: space-around;
  width: 100%;

  div {
    width: 50%;
  }
}

.paragraphAbout {
  text-align: initial;
  font-size: 25px;
  margin: 0;
  width: 90%;
}

.img {
  border-radius: 50%;
  width: 90%;
  padding: 5rem;
}

@media screen and (max-width: 500px) {
  .about {
    padding-top: 0;
    justify-content: space-evenly;
  }

  .tittle {
    div {
      h1 {
        font-size: 50px;
      }
    }
  }

  .paragraph {
    height: 70%;
    div {
      display: flex;
      justify-content: center;
      width: 90%;
    }
  }
  .paragraphAbout {
    font-size: 20px;
  }
  .img {
    padding: 2rem;
  }
}
