@import "../../sass/colors";

nav {
  top: 0;
  width: 100%;
  display: flex;
  position: fixed;
  color: $tittle-color;
  align-items: center;
  justify-content: end;
  background-color: $bg-primary;
  z-index: 1000;

  ul {
    margin: 0;
    padding: 17px;
    display: flex;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.item {
  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: $tittle-color;
    transition: all 0.25s ease-in-out;

    &:after {
      content: "";
      display: block;
      margin-top: 3px;
      background-color: $subtittle-color;
      height: 5px;
      width: 0;
      border-radius: .4rem;
      transition: all 0.5s ease-out;
    }
    &:hover:after {
      width: 100%;
    }
  }
}
